@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maroon: '#390000';
  --red: '#FA2424';
  --black: '#1A1A1A';
  --gray: '#333333';
}

@media (prefers-color-scheme: dark) {
  :root {
    --maroon: #390000;
    --red: #FA2424;
    --black: #1A1A1A;
    --gray: #333333;
  }
}
::selection{
  background: var(--maroon);
  color: white;
}
body{
  background-color: var(--black);
  color: white;
  font-size: 0.9rem;
}
select option:first-child:hover {
  background-color: red;
}
textarea{
  resize: none;
}
.library{
  background-image: url('/library-4.jpg')
}
.highlight{
  color: var(--red)
}
.widgets{
  background-color: var(--gray)
}
.bg-maroon{
  background-color: var(--maroon)
}
